マイページ

<%= @customer.name %>

お気に入り話題
<h1>ブックマーク一覧</h1>

<% if @bookmarked_topics.present? %>
  <% @bookmarked_topics.each do |topic| %>
    <div>
      <%= link_to topic.title, genre_topic_path(topic.genre, topic) %>
      <!-- ブックマークされたトピックへのリンクを表示 -->
    </div>
  <% end %>
<% else %>
  <p>ブックマークされたトピックはありません。</p>
<% end %>


<!-- ボタンをクリックしたときにランダムなトピックを取得するためのボタンを追加 -->
<button id="random-topic-button" class="btn btn-primary">ランダムなトピックを表示</button>

<!-- ランダムなトピックを表示するためのコンテナ -->
<div id="random-topic-container"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  // ボタンクリック時のイベントハンドラ
  $('#random-topic-button').on('click', function() {
    // Ajaxリクエストを送信
    $.ajax({
      url: '<%= random_topics_genre_topics_path(@genre) %>', // ランダムなトピックを取得するルートへのパス
      type: 'GET',
      dataType: 'html',
      success: function(response) {
        // 取得したHTMLをコンテナに表示
        $('#random-topic-container').html(response);
      },
      error: function() {
        // エラーハンドリング
        alert('ランダムなトピックの取得に失敗しました。');
      }
    });
  });
</script>