<div class="container">
  <h1 class="mt-5 text-center">ブックマーク一覧</h1>

  <div class="row text-center mt-4">
    <div class="col">
      <% if @bookmarked_topics.present? %>
        <% @bookmarked_topics.each do |topic| %>
          <div class="mb-3">
            <%= link_to topic.title, genre_topic_path(topic.genre, topic), class: "btn btn-primary" %>
          </div>
        <% end %>
      <% else %>
        <p>ブックマークされたトピックはありません。</p>
      <% end %>
    </div>
  </div>


 <div class="row mt-4 mb-4">
  <div class="col mx-auto">
    <div class="card-body text-center">
      <!-- ボタンをクリックしたときにランダムなトピックを取得するためのボタンを追加 -->
      <button id="random-topic-button" class="btn btn-success">ランダムなトピックを表示</button>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col mx-auto text-center">
    <div class="card border-primary">
      <div class="card-body" id="random-topic-container" style="max-height: 200px;">
        <!-- ランダムなトピックを表示するためのコンテナ -->
        <ul id="random-topic-list">
          <!-- ここにランダムなトピックが表示されます -->
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
// ボタンクリック時のイベントハンドラ
  $('#random-topic-button').on('click', function() {
    // JSONデータを取得
    var randomTopicsData = <%= raw @random_topics.to_json %>;

    // 取得したJSONデータを処理
    $('#random-topic-list').empty(); // コンテナをクリア

    for (var i = 0; i < randomTopicsData.length; i++) {
      var topic = randomTopicsData[i];
      console.log(topic)
      if (topic.url) {
        var link = '<a href="' + topic.url + '">' + topic.title + '</a>';
        $('#random-topic-list').append('<li>' + link + '</li>');
      } else {
        console.error('Topic URL is missing:', topic);
      }
    }
  });

/*  // ボタンクリック時のイベントハンドラ
  $('#random-topic-button').on('click', function() {
    $.ajax({
      url: '<%= random_topics_genre_topics_path(@genre) %>', // ランダムなトピックを取得するルートへのパス
      type: 'GET',
      dataType: 'html',
      success: function(response) {
        // 取得したHTMLをコンテナに表示
        $('#random-topic-container').html(response);
        $('#content').scrollTop(0); // ヘッダーを除いたコンテナのIDを指定
      },
      error: function() {
        // エラーハンドリング
        alert('ランダムなトピックの取得に失敗しました。');
      }
    });
  });
  */
</script>