/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  background-color: #f0f0f0; /* 任意の背景色を指定 */
}

 .navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* 他のコンテンツよりも手前に表示 */
}

.image-container {
  position: relative; /* 相対位置指定 */
  width: 100%; /* 横幅いっぱいに表示 */
  height: auto; /* 高さは自動調整 */
}

.image-container img {
  width: 100%; /* 画像を横幅いっぱいに表示 */
  height: auto; /* 高さは自動調整 */
}

.overlay-text {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 50px;
  position: absolute; /* 絶対位置指定 */
  top: 50%; /* 上から50%の位置に配置（中央に配置するため） */
  left: 50%; /* 左から50%の位置に配置（中央に配置するため） */
  transform: translate(-50%, -50%); /* 中央に配置 */
  background-color: rgba(0, 0, 0, 0.5); /* 背景色と透明度を設定 */
  color: white; /* テキストの色を設定 */
  padding: 10px 20px; /* テキストの内側の余白を設定 */
  text-align: center; /* テキストを中央に配置 */
}