/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.image-container img{
  position: relative;
  width: 50%;
  height: auto;
}
.text-overlay {
  position: absolute; /* 相対的な位置に配置 */
  top: 50%; /* 上端を親要素の中央に配置 */
  left: 50%; /* 左端を親要素の中央に配置 */
  transform: translate(-50%, -50%); /* 中央寄せ */
  background-color: rgba(0, 0, 0, 0.7); /* 背景色（必要に応じて調整） */
  color: white; /* テキストの色 */
  padding: 10px; /* テキスト周りの余白（必要に応じて調整） */
  border-radius: 5px; /* 角丸（必要に応じて調整） */
  z-index: 1; /* テキストを画像の上に配置 */
}